<%- include ('layout/header') %>
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ajouter une salle</title>
  <style>
    /* Styles CSS */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: #f4f4f4;
    }

    .container {
      max-width: 800px;
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      color: #742c56;
      text-align: center;
    }

    label {
      display: block;
      margin-bottom: 5px;
    }

    input[type="text"],
    input[type="number"],
    input[type="date"],
    input[type="time"],
    input[type="file"],
    button {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    button {
      background-color: #e689c7;
      color: #fff;
      border: none;
      cursor: pointer;
    }

    button:hover {
      background-color: #440541;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Ajouter une nouvelle salle</h1>
    <form action="/ajouter-salle" method="POST">

        

      <label for="Nom">Nom:</label>
      <input type="text" id="Nom" name="Nom" required>
      
      <label for="Capacite">Capacité:</label>
      <input type="number" id="Capacite" name="Capacite" required>

      <label for="Equipments">Équipements:</label>
      <input type="text" id="Equipments" name="Equipments">

      <label for="dateDebut">Date de début:</label>
      <input type="date" id="dateDebut" name="dateDebut" required>
      <label for="heureDebut">Heure de début:</label>
      <input type="time" id="heureDebut" name="heureDebut" required>

      <label for="dateFin">Date de fin:</label>
      <input type="date" id="dateFin" name="dateFin" required>
      <label for="heureFin">Heure de fin:</label>
      <input type="time" id="heureFin" name="heureFin" required>

      <label for="Tarif">Tarif:</label>
      <input type="number" id="Tarif" name="Tarif" required>



      <button type="submit">Ajouter la salle</button>
    </form>
  </div>
</body>
</html>


<%- include ('layout/footer') %>

