<%- include ('layout/header') %>

    <style>
      
        

        /* Styles pour le contenu principal (main) */
        main {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        h1 {
            color: #333;
            margin-bottom: 20px;
        }

        p {
            color: #555;
            margin-bottom: 30px;
        }

        /* Style pour l'image */
        .logo {
            width: 150px;
            height: auto;
            margin-bottom: 30px;
        }
    </style>

 
    <main>
        <img src="views/logo.png" alt="Logo" class="logo">
        <h1>Bienvenue dans l'interface d'administration</h1>
        <p>C'est un plaisir de vous accueillir. Vous êtes connecté en tant qu'administrateur.</p>
    </main>



<%- include ('layout/footer') %>


