<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reservation</title>
    <style>
        /* Styles CSS pour le footer */
        body {
            margin: 0;
            padding: 0;
        }
        footer {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }
        footer a {
            color: #fff;
            text-decoration: none;
            margin: 0 10px;
        }
        .footer-nav {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    
    <!-- Footer -->
    <footer>
        <div class="footer-info">
            <p>RéunionVenue</p>
            <p>Manar, tunisie</p>
            <p>Email : contact@RéunionVenue.com</p>
            <p>Téléphone : +21629165027</p>
        </div>
        <div class="footer-credits">
            <p>© 2024 RéunionVenue. Tous droits réservés.</p>
            <p>Site web réalisé par <a href="https://www.votresite.com" target="_blank">RéunionVenue</a></p>
        </div>
    </footer>
</body>
</html>
