<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RéunionVenue - Footer</title>
    <style>
        /* Styles CSS pour le footer */
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }
        footer {
            background-color: #420e2e; 
            color:white; 
            padding: 20px;
            text-align: center;
        }
        footer a {
            color: white;
            text-decoration: none;
            margin: 0 10px;
        }
        .footer-info {
            margin-bottom: 20px;
            color:white;
        }
        .footer-credits {
            font-size: 14px;
            opacity: 0.8;
        }
        .footer-credits a {
            color: #f8f7f8; 
            text-decoration: underline;
        }
        .footer-credits a:hover {
            opacity: 0.6;
        }
    </style>
</head>
<body>
    
    <!-- Footer -->
    <footer>
        <div class="footer-info">
            <p>RéunionVenue</p>
            <p>Manar, Tunisie</p>
            <p>Email : contact@RéunionVenue.com</p>
            <p>Téléphone : +21629165027</p>
        </div>
        <div class="footer-credits">
            <p>© 2024 RéunionVenue. Tous droits réservés.</p>
            
        </div>
    </footer>
</body>
</html>
