<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reservation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        /* Styles CSS pour le body et le header */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f1f1f1;
        }
        header {
            background-color: #333;
            color: #fff;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        header img {
            width: 80px;
            height: 80px;
        }
        nav ul {
            list-style-type: none;
            display: flex;
        }
        nav ul li {
            margin-right: 20px;
        }
        nav ul li a {
            color: #fff;
            text-decoration: none;
            display: flex;
            align-items: center;
        }
        nav ul li a i {
            margin-right: 5px;
        }
        .container {
            max-width: 1200px;
            margin: 20px auto;
            padding: 0 20px;
        }
        h1 {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <!-- Header -->
    <header>
        <div>
            <img src="views/logo.png" alt="Logo">
        </div>
        <nav>
            <ul>
                <li><a href="/"><i class="fas fa-home"></i> Acceuil</a></li>
                <li><a href="ajouter-salle"><i class="fas fa-calendar-alt"></i> Ajout salle de réunion</a></li>
                <li><a href="salles"><i class="fas fa-door-open"></i> Salles</a></li>
                <li><a href="#reservations"><i class="far fa-calendar-alt"></i> Liste des réservations</a></li>
                <li><a href="#utilisateurs"><i class="fas fa-users"></i> Liste des utilisateurs</a></li>
                
                <li><a href="/logout"><i class="as fa-sign-out-alt"></i> Déconnexion</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>