<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réservation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        /* Styles CSS pour le body et le header */
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f9fa;
            color: #333;
        }
        h4 {
            font-size: 20px;
            color: #7e073f;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-weight: bold;
            font-style: italic;
            text-shadow: 2px 2px 2px rgba(78, 29, 59, 0.1);
        }
        header {
            background-color:white;
            color: #f5a8d7;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        header img {
            width: 80px;
            height: 80px;
        }
        nav ul {
            list-style-type: none;
            display: flex;
        }
        nav ul li {
            margin-right: 20px;
        }
        nav ul li a {
            color: #4b0331;
            text-decoration: none;
            display: flex;
            align-items: center;
            transition: color 0.3s ease-in-out;
        }
        nav ul li a i {
            margin-right: 5px;
        }
        nav ul li a:hover {
            color: #d8a1bf; /* Couleur jaune or pour le hover */
        }
        .container {
            max-width: 1200px;
            margin: 20px auto;
            padding: 0 20px;
        }
        h1 {
            margin-bottom: 20px;
            color: #ac6496;
        }
    </style>
</head>
<body>
    <!-- Header -->
    <header>
        <div>
            <h4 >RéunionRive</h4>
        </div>
        <nav>
            <ul>
                <li><a href="/"><i class="fas fa-home"></i> Accueil</a></li>
                <li><a href="ajouter-salle"><i class="fas fa-calendar-alt"></i> Ajout salle de réunion</a></li>
                <li><a href="salles"><i class="fas fa-door-open"></i> Salles</a></li>
                <li><a href="#reservations"><i class="far fa-calendar-alt"></i> Liste des réservations</a></li>
                <li><a href="#utilisateurs"><i class="fas fa-users"></i> Liste des utilisateurs</a></li>
                <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Déconnexion</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>
